<div class="container">
    <div id='pic'>
        <img src={{book.imgPath}} alt="imgPath">
    </div>
    <div id='info'>
        <h1>title : <b>{{book.title}}</b></h1>
        <h2>author : <b>{{book.author}}</b> </h2>
        <h3>pages : <b>{{book.pages}}</b></h3>

        <h5><b>Krótki opis: </b>  "ladjsfhlwdsgnvl adjfngladfgbla jdngfadsf g;jasern gadmkfg;kaernga dflgjba elgrkanen;g a;jerlgnajehr"</h5>

       <button routerLink="edit">Edytuj</button>

    </div>
    <router-outlet></router-outlet> 


</div>