<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">add book</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">action</a>
          <a class="dropdown-item" href="#">another action</a>
          
        </div>
      </li>
     <label for="login"></label>
     <input type="password" name="login" placeholder="Secret Marcia Word">
     
    </ul>
    <button class='btn btn-primary'
            [ngStyle]="{'background-color':logged == true ? 'green' : 'red'}" 
            (click)="onLogin()">login</button>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="wyszukaj booksa" aria-label="Search">
      <button class="btn look btn-outline my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>